on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build_run:
    name: Build & Run
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          path: dispatcher
      - name: Remove runner local related libs
        run: brew remove --ignore-dependencies libssh2
      - name: Checkout DoriKit
        uses: actions/checkout@v6.0.1
        with:
          repository: Greatdori/DoriKit
          path: DoriKit
          submodules: recursive
      - name: Generate workspace
        run: |
          cat <<EOF > Dispatcher.xcworkspace
          <?xml version="1.0" encoding="UTF-8"?>
          <Workspace version="1.0">
            <FileRef location="group:DoriKit/DoriKit.xcodeproj"/>
            <FileRef location="group:dispatcher/Greatdori-APNS-Dispatcher.xcodeproj"/>
          </Workspace>
          EOF
      - name: Create build folder
        run: mkdir build
      - name: Restore build cache
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ./build
          key: ${{ runner.os }}-build-cache
      - name: Build
        run: xcodebuild -workspace Dispatcher.xcworkspace -scheme Greatdori-APNS-Dispatcher -configuration Release -derivedDataPath ./build build -quiet
      - name: Run
        env:
          TOKEN_LIST_PWD: ${{ secrets.TOKEN_LIST_PWD }}
          APNS_PRIVATE_KEY: ${{ secrets.APNS_PRIVATE_KEY }}
          APNS_KEY_ID: ${{ secrets.APNS_KEY_ID }}
          APNS_TEAM_ID: ${{ secrets.APNS_TEAM_ID }}
        run: ./build/Build/Products/Release/Greatdori-APNS-Dispatcher
