on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build_run:
    name: Build & Run
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Create build folder
        run: mkdir build
      - name: Restore build cache
        uses: actions/cache@v4
        with:
          path: ./build
          key: dispatcher-build-cache
      - name: Build
        run: xcodebuild -project Greatdori-APNS-Dispatcher.xcodeproj -scheme Greatdori-APNS-Dispatcher -configuration Release -derivedDataPath ./build build -quiet -skipPackagePluginValidation -skipMacroValidation
      - name: Run
        env:
          TOKEN_LIST_PWD: ${{ secrets.TOKEN_LIST_PWD }}
          APNS_PRIVATE_KEY: ${{ secrets.APNS_PRIVATE_KEY }}
          APNS_KEY_ID: ${{ secrets.APNS_KEY_ID }}
          APNS_TEAM_ID: ${{ secrets.APNS_TEAM_ID }}
        run: ./build/Build/Products/Release/Greatdori-APNS-Dispatcher
