on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build_run:
    name: Build & Run
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Update submodules
        run: git submodule update --init --recursive
      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.0.app
      - name: Create build folder
        run: mkdir build
      - name: Restore build cache
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ./build
          key: ${{ runner.os }}-build-cache
      - name: Build
        run: xcodebuild -project Greatdori-APNS-Dispatcher.xcodeproj -scheme Greatdori-APNS-Dispatcher -configuration Release -derivedDataPath ./build build
      - name: Run
        env:
          TOKEN_LIST_PWD: ${{ secrets.TOKEN_LIST_PWD }}
          APNS_PRIVATE_KEY: ${{ secrets.APNS_PRIVATE_KEY }}
          APNS_KEY_ID: ${{ secrets.APNS_KEY_ID }}
          APNS_TEAM_ID: ${{ secrets.APNS_TEAM_ID }}
        run: ./build/Build/Products/Release/Greatdori-APNS-Dispatcher
